.navbar {
  box-shadow: 0 0 4px dimgray;
  border-radius: 4px;
  width: 30%;
  min-width: 310px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  font-weight: 600;
  padding-top: 40px;
}

.navbar .photo {
  border: 5px solid black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-image: url(../../assets/profile.jpg);
  background-size: cover;
}

.navbar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.navbar .profile h3 {
  font-size: 23px;
}

.navbar .navbar-btn {
  width: 90%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(36, 32, 38, 0.791);
  transition: .2s;
}

.navbar .navbar-btn:hover {
  background-color: rgba(36, 32, 38);
  color: white;
}

.navbar .navbar-btn.active {
  background-color: rgba(36, 32, 38);
  color: white;
}

.navbar .navbar-btn i {
  width: 35px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 10px;
}